*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Lato', Helvetica, sans-serif; }
.border-bottom { border-bottom: 1px solid #d0d0d0; margin: 0px -10px 0;}
.text-light { font-size: 18px; color: #A0A0A0; }

/* Personalisation des boutons */
.button { border-radius: 50px; height: 48px; border-width: inherit;}
.new-game, .btn-hold { background-color: #5F54A0; color: #FFF;}
.new-game:hover, .btn-hold:hover { background-color: #584D93; color: #FFF;}
.btn-lancer { background-color: #1B998B; color: #FFF;}
.btn-lancer:hover { background-color: #188B7D; color: #FFF;}

/* Informations joueur */ 
.block-player{
    position: relative;
    width: 100%;
}
.block-player1, .block-player2 {
    width: 100%;
}

.global-score { color: #5F54A0; font-size: 82px; font-weight: 900;}
.block-round-score { background: #D7263D; padding: 10px 36px; align-self: center; border-radius: 10px;}
.block-round-score p { color: #FFF; }

/* Button Collecter & Lancer */ 
.buttons-action {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 71px;
    width: 100%;
    gap: 12px;
    background: #FFF;
    border-top: 1px solid #d0d0d0; 
    z-index: 1000;
}

/* Position des blocks joueur et du bloc action sur tablette et pc */ 
@media screen and (min-width: 769px) {
    .block-player{
        margin: 40px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
    }
    .block-player1, .block-player2{
        max-width: 400px;
        flex-grow: 3;
    }
    .buttons-action {
        border-top: none; 
        position: static;
        flex-direction: column;
        gap: 30px;
        max-width: 250px;
    }
}

.dice { margin: 12px 0; max-height: 78px; }
/* Position du dé en bas de l'écran sur tablette et pc */
@media screen and (min-width: 769px) {
    .dice {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 100px;
        max-height: 100px;
        border-top: 5px solid #d0d0d0; 
        margin: 0px -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        background: #FFF;
    }
}

/* Animation lorsqu'on lance le dé */
@keyframes animationDice {
    0% { 
        transform: translateX(calc(0));
        -webkit-transform: translateX(calc(0));
    }
    25% { 
        transform: translateX(calc(50vw - 39px));
        -webkit-transform: translateX(calc(50vw - 39px));
    }
    75% { 
        transform: translateX(calc(-50vw + 39px)); 
        -webkit-transform: translateX(calc(-50vw + 39px)); 
    }
    100% { 
        transform: translateX(0); 
        -webkit-transform: translateX(0); 
    }
}
@-webkit-keyframes animationDice {
    0% { 
        transform: translateX(calc(0));
        -webkit-transform: translateX(calc(0));
    }
    25% { 
        transform: translateX(calc(50vw - 39px));
        -webkit-transform: translateX(calc(50vw - 39px));
    }
    75% { 
        transform: translateX(calc(-50vw + 39px)); 
        -webkit-transform: translateX(calc(-50vw + 39px)); 
    }
    100% { 
        transform: translateX(0); 
        -webkit-transform: translateX(0); 
    }
}
  @-moz-keyframes animationDice {
    0% { 
        transform: translateX(calc(0));
        -webkit-transform: translateX(calc(0));
    }
    25% { 
        transform: translateX(calc(50vw - 39px));
        -webkit-transform: translateX(calc(50vw - 39px));
    }
    75% { 
        transform: translateX(calc(-50vw + 39px)); 
        -webkit-transform: translateX(calc(-50vw + 39px)); 
    }
    100% { 
        transform: translateX(0); 
        -webkit-transform: translateX(0); 
    }
}
  @-o-keyframes animationDice {
    0% { 
        transform: translateX(calc(0));
        -webkit-transform: translateX(calc(0));
    }
    25% { 
        transform: translateX(calc(50vw - 39px));
        -webkit-transform: translateX(calc(50vw - 39px));
    }
    75% { 
        transform: translateX(calc(-50vw + 39px)); 
        -webkit-transform: translateX(calc(-50vw + 39px)); 
    }
    100% { 
        transform: translateX(0); 
        -webkit-transform: translateX(0); 
    }
}

.animation-dice{
    animation: animationDice 2500ms ease;
    -webkit-animation: animationDice 2500ms ease;
    -moz-animation: animationDice 2500ms ease;
    -o-animation: animationDice 2500ms ease;
}

/* Animation qui agrandi*/
@keyframes scaleIn {
	0% { transform: scale(0); }
	100% { transform: scale(1);}
}

/* Affichage du score actuel total */ 
.add-score-dice { animation: scaleIn 1s ease 0s 1 normal forwards; }

/* Style du block joueur suivant s'il peut joueur ou pas */ 
@media screen and (max-width: 768px) {
    .actif {
        border: 10px solid #B2CC3E;
        background: #c5d86e1c;
        animation: scaleIn 1s ease 0s 1 normal forwards;
        position: absolute;
        top: 0;
    }
    .inactif {
        border: 10px solid #d0d0d0;
        opacity: 0;
        z-index: -10000;       
    }
}
@media screen and (min-width: 769px) {
    .actif { border: 10px solid #B2CC3E; background: #c5d86e1c; }
    .inactif {
        border: 10px solid #d0d0d0;
        opacity: 0.6;
        transform: scale(0.7);
    }
}

/* Fait disparaitre l'élément par la gauche */
@keyframes outLeft {
    100% { transform: translateX(-100%); }
}
.out-left { animation: outLeft 500ms linear 0s 1 normal forwards; }



/*  Fix bug affichage sur petit écran et format paysage sur smartphone*/
@media screen and (max-width: 362px) {
    .buttons-action i, .new-game i{
        display: none;
    }
}
@media screen and (max-height: 600px) and (max-width: 768px) and (min-width: 480px ) {
    .actif {
        flex-direction: row!important;
        height: 74px;
    }
    .block-player h1 {
        font-size: 22px!important;
        text-align: left!important;
    }
    .block-round-score, .block-global-score {
        padding: 2px 36px;
    }
    .block-global-score {
        background-color: #584D93;
        align-self: center;
        border-radius: 10px;
    }
    .block-global-score p {
        font-size: 16px!important;
        color: #FFF!important;
    }

    .block-round-score p {
        font-size: 16px!important;
        margin: 0!important;
    }
    .dice img {
        width: 54px;
        height: 54px;
    }
}